@media (max-width: 1300px){
    .feature_slider .owl-prev {
        left: 0px;
    }
    .feature_slider .owl-next {
        right: 0px;
    }
}
@media (max-width: 1199px){
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li {
        margin-right: 20px;
    }
    .first_header #actualBtn {
        margin-right: -100px;
        margin-left: 60px
    }

    .chefs_slider_active .chef_item_inner .chef_img .chef_hover h4 {
        margin: 10px 0px 20px 0px;
    }
/*
    .about_us_content .about_inner_item .about_right_ms .about_ms_item {
        width: 360px;
    }
*/
    .about_us_content .about_inner_item .about_right_ms .about_ms_item img {
        max-width: 100%;
    }
   
@media (max-width: 991px){
    .first_header .col-md-4:last-child{
        position: absolute;
        right: 0px;
        top: 34px;
    }
    .first_header .container{
        position: relative;
    }
    .first_header .event_btn_inner {
        padding-bottom: 12px;
        margin-left:60px;
    }
    .main_menu_area {
        top: 112px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 20px;
        margin-bottom: 20px;
        transition: all 300ms linear;
    }
    .navbar-default .navbar-toggle:hover{
        background: transparent;
        border-color: #b10400;
    }
    .navbar-default .navbar-toggle span:hover{
        background: transparent;
    }
    .navbar-default .navbar-brand {
        padding: 0px 0px 0px 15px;
    }
    .navbar-default .navbar-brand img{
        padding: 8px 0px 0px 0px;
    }
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
        line-height: 60px;
    }
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:last-child {
        display: none;
    }
    .main_menu_area .navbar-collapse{
        max-height: 350px;
    }
    .service_area .col-sm-6{
        margin-top: 80px;
    }
    .service_area .row{
        margin-top: -80px;
    }
    .footer_area .footer_widget_area .col-md-3{
        margin-top: 50px;
    }
    .footer_area .footer_widget_area .col-md-3:first-child{
        margin-top: 0px;
    }
    .footer_area .footer_widget_area .col-md-4{
        margin-top: 50px;
    }
    .footer_area .footer_widget_area .col-md-4:first-child{
        margin-top: 0px;
    }
    .footer_area .footer_widget_area .col-md-2{
        margin-top: 50px;
    }
    .footer_area .footer_widget_area .col-md-2:first-child{
        margin-top: 0px;
    }
    .gallery_widget ul{
        max-width: 260px;
    }
    .copy_right_area .pull-left{
        width: 100%;
        float: none !important;
        text-align: center;
    }
    .copy_right_area .pull-right{
        width: 100%;
        float: none !important;
    }
    .copy_right_area .pull-right .navbar-nav.navbar-right li {
        margin-left: 20px;
        display: inline-block;
    }
    .copy_right_area .pull-right .navbar-nav.navbar-right {
        text-align: center;
    }
    .banner_area .banner_content {
        padding: 277px 0px 0px 0px;
    }
    .about_us_content .about_inner_item .about_left_content ul {
        padding-bottom: 30px;
    }
    .about_us_content .about_inner_item .about_left_content h4 {
        padding-top: 20px;
    }
    .booking_table_area.booking_area_white .map_contact .map_contact_info {
        padding-top: 20px;
    }
    .booking_table_area.booking_area_white .col-md-3{
        margin-bottom: 20px;
    }
    .booking_table_area.booking_area_white .col-md-3:last-child{
        margin-bottom: 0px;
    }
    .booking_table_area.booking_area_white .map_contact {
        margin-top: 62px;
    }
    .contact_area .row.contact_form_area{
        margin-top: 40px;
    }
}
@media (max-width: 767px){
    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav {
        margin-left: 0px;
        margin-right: 0px;
    }
    .booking_table_area .col-sm-3{
        margin-bottom: 20px;
    }
    .booking_table_area .col-sm-3:last-child{
        margin-bottom: 0px;
    }
    .chefs_slider_active .chef_item_inner .chef_img .chef_hover h4 {
        margin: 60px 0px 30px 0px;
    }
    .our_gallery_area .our_gallery_ms_inner{
        max-width: 390px;
        margin: auto;
    }
}
@media (max-width: 600px){
    .copy_right_area .pull-right .navbar-nav.navbar-right li a {
        line-height: 45px;
    }
}
@media (max-width: 480px){
    .first_header .col-md-4:nth-child(2) {
        display: none;
    }
    .first_header .col-md-4:last-child {
        position: relative;
        right: 0px;
        top: 0px;
    }
    .first_header .header_social {
        text-align: center;
    }
    .first_header .header_contact_details{
        text-align: center;
    }
    .main_menu_area {
        top: 100px;
    }
    .quote{
        margin-left:20px;
    }
    .slider_area .slider_inner .rev_slider .tp-revslider-mainul li .slider_text_box .bg_box {
        display: none;
    }
    .slider_area .slider_inner .rev_slider .tp-revslider-mainul li .slotholder:before{
        content: "";
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 5;
        position: absolute;
    }
    .social_icon li {
        margin-right: 4px;
    }
    .comment_list_area .media .media-left {
        padding-right: 10px;
    }
    .contact_title {
        font-size: 32px;
    }
}